langchain==1.0.2
langchain_community
langchain_openai
langchain_text_splitters
openai
groq
psycopg2-binary
sentence-transformers
python-dotenv
pypdf
pgvector
transformers
torch
accelerate
streamlit


# Required for document loaders
unstructured
pdfminer.six
