langchain==1.0.2
langchain_community
langchain_openai
langchain_text_splitters
openai
groq
faiss-cpu
sentence-transformers
python-dotenv
pypdf
transformers
torch
accelerate
streamlit

# Required for document loaders
unstructured
pdfminer.six
requests